<div class="wholepage" >
<br><br>
<div class="connect">
<div class="aboutpage">
<h2> HI,I'M SAUGHANTHIKAA</h2>
<p>I'm a web designer who creates great websites implementing creative ideas.</p> 
  <p>  I have a very good visual design skills and proficient in graphic design softwares such as Adobe photoshop and Adobe Illustrator.</p>
</div>
<div class="tablee">
    <br><br>
<table align="center">
    <tr>
        <th><b>NAME</b></th>
        <th>Saughanthikaa</th>
        <th><b>AGE</b></th>
        <th>19</th>
    </tr>
    <tr>
        <th>LOCATION</th>
        <th>Coimbatore</th>
        <th>DEGREE</th>
        <th>Msc SS</th>
    </tr>
    <tr>
        <th>PHONE</th>
        <th>6385348238</th>
        <th>EMAIL</th>
        <th>Saughanthikaa.ke@gmail.com</th>
    </tr>
</table>
</div>
</div>
</div>